.venue
{
    box-sizing: border-box;
    background-color: rgb(0, 0, 53);
    display: flex;
    border: 1px solid;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text
{
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 50px;
    font-family: monospace;
    color: white;
    padding-bottom: 30px;
    
    animation: typing1 3.5s steps(20,end), blink-caret 0.75s step-end infinite;
    animation-name: typing1;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: steps(20,end);
    animation-direction: alternate;
}

@keyframes typing1 {
    from { width: 0px }
    to { width: 690px }
}

.input
{
    background-color: rgba(0,0,0,0);
    color: white;
    /* border: 1px solid rgb(0, 0, 130); */
    border: 1px solid red;
    height: 25px;
    font-size: 35px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    /* margin-top: 20px; */
    font-family: monospace;
    text-align: center;
}

.input:focus
{
    outline: none;
    caret-color: transparent;
}

.submit {
    /* border: 1px solid rgb(0, 0, 130); */
    border: 1px solid red;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    height: 44px;
    width: 100px;
    font-size: 23px;
    position: relative;
    left: 20px;
    top: -4px;
}