@font-face {
	font-family: "researcher";
	src: url("/static/fonts/researcher-researcher-bold-700.ttf");
}

.venue-ip
{
    background-color: rgb(0, 0, 53);
    display: flex;
    border: 1px solid;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text1
{
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 50px;
    font-family: monospace;
    color: white;
    
    animation: typing1 3.5s steps(20,end), blink-caret 0.75s step-end infinite;
    animation-name: typing1;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: steps(20,end);
    animation-direction: alternate
}

@keyframes typing1 {
    from { width: 0px }
    to { width: 870px }
}

.ip-input, .domain-input
{
    background-color: rgba(0,0,0,0);
    color: white;
    border: 1px solid rgb(0, 0, 130);
    height: 20px;
    font-size: 35px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-family: monospace;
    text-align: center;
}

.ip-input:focus, .domain-input:focus
{
    outline: none;
    caret-color: green;
}

.submit {
    margin-top: 20px;
    margin-left: 10px;
    height: 40px;
    font-size: 20px;
    border: 1px solid rgb(0, 0, 130);
    border-radius: 20px;
    background-color: transparent;
    color: white;
}

.venue-protocol
{
    scroll-snap-align: start;
    height: 100vh;
    background-color: rgb(0, 50, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text2
{
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 50px;
    font-family: monospace;
    color: rgb(95, 95, 255);
    
    /* animation: typing2 3.5s steps(20,end), blink-caret 0.75s step-end infinite; */
    animation-name: typing2;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: steps(20,end);
    animation-direction: alternate
}

@keyframes typing2
{
    from { width: 0 }
    to { width: 650px }
}

.radio 
{
    color: rgb(95, 95, 255);
    height: 20px;
    font-size: 35px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-family: monospace;
}

/* index.html file*/

.bodyi {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.headeri {
    padding-top: 50px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    background-color: black;
    height: 80vh;
    width: 100%;
}

.huge-logo {
    color: white;
    font-family: "researcher";
    font-size: 80px;
    /* border: 2px solid red; */
}

.start-button {
    padding-top: 90px;
    /* display: flex; */
    margin-left: calc(40%);
}

.start-button > form > button {
    flex: 2;
    font-size: 30px;
    font-family: monospace;
    background-color: transparent;
    color: beige;
    border: none;
}

.about-members {
    height: auto;
}