.venue {
    background-color: rgb(0, 0, 59);
    height: auto;
    width: 88vw;
    min-height: 84vh;
    padding-top: 6vh;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 6vw;
}

.heading {
    font-family: monospace;
    color: lightgreen;
    font-size: 50px;
    padding-top: 8vh;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
}

.main-block {
    display: flex;
    flex-direction: row;
}

.main-block > div {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.vertical-container {
    user-select: none;
    color: lightgreen;
    margin-bottom: 20px;
    position: inherit;
}

div > button {
    border: 1px solid rgb(151, 42, 42);
    border-radius: 40px;
    background-color: transparent;
    color: white;
    font-family: monospace;
    font-size: 20px;
    padding: 10px;
}

.arrow {
    visibility: hidden;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
    position: absolute;
    margin-left: 50px;
}

.help {
    visibility: hidden;
    position: absolute;
    /* border: 1px solid red; */
    max-width: 40vw;
    height: auto;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
    font-family: monospace;
    font-size: 17px;
}

.vertical-container:hover .help {
    visibility: visible;
    transition-delay: 1s;
}

.vertical-container:hover .arrow {
    visibility: visible;
    transition-delay: 1s;
}

.tooltiptext {
    text-align: center;
}

.online {
    font-weight: bold;
    font-size: 14px;
}
