.venue {
    background-color: rgb(0, 0, 59);
    height: auto;
    width: 94vw;
    min-height: 84vh;
    padding-top: 6vh;
    padding-left: 6vw;
    padding-bottom: 6vw;
}

.heading {
    font-family: monospace;
    color: lightgreen;
    font-size: 50px;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.help {
    visibility: hidden;
}

.os-detection {
}

.os-detection:hover .help{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    color: white;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: black;
    height: 40px;
    width: 130px;
    border-radius: 10px;
}