<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="../static/header.css"> -->
	<link rel="stylesheet" href="../static/index.css">
	<title>Network Reconnaissance Suite</title>
</head>


<body class="bodyi">
	<div class="headeri">
		<div class="huge-logo">
			Network<br> Reconnaissance<br> Suite
		</div>
		<div class="start-button">
			<form action="/ip">
				<button>-> Start <- </button>
			</form>
		</div>
	</div>

	<div class="into1">
		<div class="split-intro">
			<div class="intro-img">
				<img src="../static/images/ip-input.png" alt="">
			</div>
			<div class="intro-text">
				Scared of attacks? <br> Scan your server and detect vulnerabilities early.
			</div>
		</div>
	</div>

	<div class="intro2">
		<div class="split-intro">
			<div class="intro-text">
				Easily distinguish between open and closed ports with the color coded output screen.
			</div>
			<div class="intro-img">
				<img src="../static/images/Output.png" alt="">
			</div>
		</div>
	</div>

	<div class="intro3">
		<div class="split-intro">
			<div class="intro-img">
				<img src="../static/images/scripts-page.png" alt="">
			</div>
			<div class="intro-text">
				Easily run scripts to deepen your search.
			</div>
		</div>
	</div>
</body>

<footer>
	<div class="split-footer">

		<div class="tiny-logo">
			Network<br>Reconnaissance<br>Suite
		</div>

		<div class="footer-about">
			<a href="https://github.com/hisham-alangadan/network-reconnaissance-suite"><img class="github-logo" src="../static/images/github-mark-white.svg" alt="github_logo"></a>
		</div>
	</div>
</footer>

</html>