<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="../static/header.css"> -->
	<link rel="stylesheet" href="../static/index.css">
	<title>Network Reconnaissance Suite</title>
</head>


<body class="bodyi">
	<div class="headeri">
		<div class="huge-logo">
			Network<br> Reconnaissance<br> Suite
		</div>
		<div class="start-button">
			<form action="/ip">
				<button>-> Start <- </button>
			</form>
		</div>
	</div>
</body>

</html>