<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./static/index.css">
	<link rel="stylesheet" href="./static/header.css">
	<!-- <script defer src="./scripts/ip.js"></script> -->
	<title>Network Analyser</title>
</head>

<body class="body">
	<div class="header">
		<div class="logo">
			Network Recoinnance Suite
		</div>
		<div class="navigation">
			<button class="header-button">About</button>
			<button class="header-button">Help</button>
		</div>
	</div>
	<div class="venue-ip">
		<div class="text1">
			Enter your target IP address:
		</div>
		<!-- <input type="text" id="ip-input" class="ip-input" minlength="7" maxlength="15" size="12" placeholder="xxx.xxx.xxx.xxx" autocomplete="off"> -->
		<form action="/ip" method="POST">
			<input type="text" id="ip-input" class="ip-input" minlength="7" maxlength="15" size="12"
				placeholder="xxx.xxx.xxx.xxx" autocomplete="off" name="ip">
			<input type="submit" value="Scan" name="scan">
		</form>
	</div>
</body>

</html>