<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/ipinput.css">
	<link rel="stylesheet" href="../static/header.css">
	<title>Network Analyser</title>
</head>

<body class="body">
	<div class="header">
		<div class="logo">Network Reconnaissance Suite</div>
		<div class="navigation">
			<a href="/ip">
				<button class="header-button">Restart</button>
			</a>
			<a href="/index">
				<button class="header-button">Home</button>
			</a>
			<a href="/index">
				<button class="header-button">About</button>
			</a>
			<a href="/index">
				<button class="header-button">Help</button>
			</a>
		</div>
	</div>
	<div class="venue">
		<div class="text">
			Enter your target IP address:
		</div>
		<div class="input-and-submit">
			<!-- <input type="text" id="ip-input" class="ip-input" minlength="7" maxlength="15" size="12" placeholder="xxx.xxx.xxx.xxx" autocomplete="off"> -->

			<form action="/ip" method="POST">
				<!-- <form action="./scantype.html" method="GET"> -->
				<input type="text" id="ip-input" class="ip-input" minlength="7" maxlength="15" size="12"
					placeholder="xxx.xxx.xxx.xxx" autocomplete="off" name="ip">
					<input type="submit" value="Scan" name="scan" class="submit">
				</form>
			</div>
			<div class="error">
				<!-- Parse the error here -->
			</div>
		</div>
	</body>
	
</html>