<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/header.css">
	<link rel="stylesheet" href="../static/output.css">
	<title>Output</title>
</head>

<body class="body">

	<div class="header">
		<div class="logo">Network Reconnaissance Suite</div>
		<div class="navigation">
			<a href="/index">
				<button class="header-button">Home</button>
			</a>
			<a href="/index">
				<button class="header-button">About</button>
			</a>
			<a href="/index">
				<button class="header-button">Help</button>
			</a>
		</div>
		<div class="k"></div>
		<!-- added this because for the life of me i cant get to move the navigation bar to the left 20px -->
	</div>

	<div class="venue">
		<div class="heading">
			Output
		</div>
		<div class="display">
			<div class="red">
				<h3>Red Stuff</h3>
				I am red
			</div>
			<div class="green">
				<h3>Green Stuff</h3>
				i am green
			</div>
			<div class="black">
				<h3>Black Stuff</h3>
				i am black
			</div>
		</div>
	</div>


</body>

</html>