<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/header.css">
    <link rel="stylesheet" href="./static/output.css">
    <title>Output</title>
</head>
<body class="body">

    <div class="header">
        <div class="logo">Network Recoinnance Suite</div>
        <div class="navigation">
            <a href="/index">
                <button class="header-button">Home</button>
            </a>
            <a href="/index">
                <button class="header-button">About</button>
            </a>
            <a href="/index">
                <button class="header-button">Help</button>
            </a>
        </div>
        <div class="k"></div> <!-- added this because for the life of me i cant get to move the navigation bar to the left 20px -->
    </div>  

    <div class="venue">
        <div class="heading">
            Output
        </div>
        <div class="display"></div>

        <div class="output-prompt">
            Do you want to run a script?
        </div>
        <form action="/output">
            <input type="submit" value="Yes" class="submit-button">
        </form>
    </div>

    
</body>
</html>