<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/header.css">
    <link rel="stylesheet" href="./static/port.css">
    <script defer src="./scripts/ip.js"></script>
    <title>Network Recoinnance Suite</title>
</head>
<body class="body">
    <div class="header">
        <div class="logo">
            Network Recoinnance Suite
        </div>
    </div>
    <div class="navigation">
        <button class="header-button">About</button>
        <button class="header-button">Help</button>
    </div>
    <div class="venue">
        <div class="text1">Enter a port number:</div>
        <div class="port-input">
            <input type="text" placeholder="00000" id="start-port-input">
            <input type="text" placeholder="00000" id="end-port-input">
            <input type="submit" id="submit-button">
        </div>
    </div>
</body>
</html>