<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/header.css">
	<link rel="stylesheet" href="../static/port.css">
	<script defer src="./scripts/ip.js"></script>
	<title>Network Reconnaissance Suite</title>
</head>

<body class="body">
	<div class="header">
		<div class="logo">
			Network Reconnaissance Suite
		</div>
	</div>
	<div class="navigation">
		<button class="header-button">About</button>
		<button class="header-button">Help</button>
	</div>
	<div class="venue">
		<div class="text1">Enter a port number:</div>
		<div class="port-input">
			<form action="/port" method="POST">
				<input type="text" placeholder="00000" id="start-port-input" name="start_port">
				<input type="text" placeholder="00000" id="end-port-input" name="end_port">
				<input type="submit" id="submit-button">
			</form>
		</div>
	</div>
</body>

</html>