<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/index.css">
    <link rel="stylesheet" href="./static/header.css">
    <script defer src="./scripts/ip.js"></script>
    <title>Second Page</title>
</head>
<body class="body">
    <div class="header">
        <div class="logo">
            Network Recoinnance Suite
        </div>
        <div class="navigation">
            <button class="header-button">About</button>
            <button class="header-button">Help</button>
        </div>
    </div>
    <div class="venue-protocol">
        <div class="text2">
            Select your protocol:
        </div>

        <div class="buttons">
            <button onclick=handleTcp() class="tcp-button">
                <div class="buttons">TCP</div>
            </button>
            <button onclick=handleUdp() class="udp-button">
                <div class="buttons">UDP</div>
            </button>
        </div>
    </div>
</body>
</html>