<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/scantype.css">
	<link rel="stylesheet" href="../static/header.css">
	<title>Flags</title>
</head>

<body class="body">
	<div class="header">
		<div class="logo">Network Reconnaissance Suite</div>
		<div class="navigation">
			<a href="/ip">
				<button class="header-button">Restart</button>
			</a>
			<a href="/">
				<button class="header-button">Home</button>
			</a>
			<a href="/">
				<button class="header-button">About</button>
			</a>
			<a href="/">
				<button class="header-button">Help</button>
			</a>
		</div>
	</div>
	<div class="venue">
		<div class="heading">
			Please select the scan type:
		</div>
		<div class="scripts">
			<form action="/scantype" method="POST">
				<div class="main-block">

					<div class="horizontal-div">
						<div class="vertical-container">
							<button name="scantype" value="synscan">Stealth Scan</button>
							<div class="arrow"></div>
							<div class="help">
								This scan type sends SYN packets to the target ports and analyzes the responses to
								determine if the ports are open, closed, or filtered. It's stealthy and efficient, as it
								doesn't complete the TCP handshake.
								<div class="online">
									<br>Online Resources:
									<ul>
										<li><a
												href="https://medium.com/@punamyaana08/what-is-syn-scan-how-does-syn-scan-work-81ab761fd99">What
												is SYN scan? How does SYN scan work?</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="vertical-container">
							<button name="scantype" value="xmasscan">X-mas Scan</button>
							<div class="arrow"></div>
							<div class="help">
								In an XMAS scan, the scanner sends packets with the FIN, URG, and PUSH flags set,
								effectively lighting up the target's ports like a Christmas tree. It's used to detect
								open ports on the target system.
								<div class="online">
									<br>Online Resources:
									<ul>
										<li><a href="https://capec.mitre.org/data/definitions/303.html">CAPEC-303: TCP
												Xmas Scan</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- <div class="vertical-container">
							<button name="scantype" value="tcpconnect">TCP Connect</button>
							<div class="arrow"></div>
							<div class="help">
								This scan type performs a full TCP connection to each specified port on the target, establishing a connection with open ports and recording the response. It's reliable but less stealthy compared to SYN scanning.
								<div class="online">
									<br>Online Resources:
									<ul>
										<li><a href="https://capec.mitre.org/data/definitions/301.html">CAPEC-301: TCP Connect Scan</a></li>
									</ul>
								</div>
							</div>
						</div> -->
						<div class="vertical-container">
							<button name="scantype" value="udpscan">UDP Scan</button>
							<div class="arrow"></div>
							<div class="help">
								UDP scanning involves sending UDP packets to target ports and analyzing the responses.
								Since UDP is connectionless, the scanner doesn't expect acknowledgments and determines
								open ports based on responses or lack thereof.
								<div class="online">
									<br>Online Resources:
									<ul>
										<li><a href="https://capec.mitre.org/data/definitions/308.html">CAPEC-308: UDP
												Scan</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="vertical-container">
							<button name="scantype" value="finscan">FIN Scan</button>
							<div class="arrow"></div>
							<div class="help">
								In a FIN scan, the scanner sends packets with only the FIN flag set. It's used to
								determine if ports are open or closed based on how the target's system responds to these
								packets.
								<div class="online">
									<br>Online Resources:
									<ul>
										<li><a href="https://capec.mitre.org/data/definitions/302.html">CAPEC-302: TCP
												FIN Scan</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="horizontal-div">
						<div class="vertical-container">
							<button name="scantype" value="ackscan">ACK Scan</button>
							<div class="arrow"></div>
							<div class="help">
								This scan type sends packets with only the ACK flag set. It's primarily used to
								determine if a firewall is present and filtering traffic based on ACK responses.
								<div class="online">
									<br>Online Resources:
									<ul>
										<li><a
												href="https://resources.infosecinstitute.com/topic/nmaps-ack-scan-a-stealthy-port-scanning/">Nmap's
												ACK scan: A Stealthy Port Scanning</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="vertical-container">
							<button name="scantype" value="nullscan">NULL Scan</button>
							<div class="arrow"></div>
							<div class="help">
								In a NULL scan, the scanner sends packets with no flags set (NULL packets) to the target
								ports. It relies on how the target system responds to these packets to determine port
								status.
								<div class="online">
									<br>Online Resources:
									<ul>
										<li><a
												href="https://www.offensive-security.com/metasploit-unleashed/null-scan/">Null
												Scan</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- <div class="vertical-container">
							<button name="scantype" value="rpcscan">RPC Scan</button>
							<div class="arrow"></div>
							<div class="help">
								RPC scanning involves querying RPC (Remote Procedure Call) services running on target systems to identify vulnerabilities or gather information about exposed services.
								<div class="online">
									<br>Online Resources:
									<ul>
										<li><a href="https://isc.sans.edu/diary/Port+scan+on+port+111+of+Internet+hosts+for+rpcbind+-+how+to+find+it+and+how+to+use+it+to+gain+access+to+the+host/7476">SANS Internet Storm Center: RPC Scan</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="vertical-container">
							<button name="scantype" value="idle-scan">IDLE Scan</button>
							<div class="arrow"></div>
							<div class="help">
								An IDLE scan is a stealthy method where the scanner uses a third-party system (often referred to as a zombie host) to send packets to the target. It relies on the differences in IPID sequences to determine open ports on the target.
								<div class="online">
									<br>Online Resources:
									<ul>
										<li><a href="https://www.offensive-security.com/metasploit-unleashed/idle-scan/">Idle Scan</a></li>
									</ul>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>