@font-face {
    font-family: "researcher";
    src: url("../fonts/researcher-researcher-bold-700.ttf");
}

.body 
{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header 
{
    position: fixed;
    height: 6vh;
    /* width: calc(100% - 20px); */
    width: 100%;
    background-color: black;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.logo
{
    font-family: "researcher";
    color: white;
    flex: 5;
}

.navigation
{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.k {
    width: 20px;
}

.header-button
{
    border: none;
    background-color: transparent;
    color: white;
}

.logo ,.navigation 
{
    width: 100%;
}