.venue {
    background-color: rgb(0, 0, 59);
    height: auto;
    width: 94vw;
    min-height: 84vh;
    padding-top: 6vh;
    padding-left: 6vw;
    padding-bottom: 6vw;
}

.heading {
    font-family: monospace;
    color: lightgreen;
    font-size: 50px;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.display {
    width: 86vw;
    min-height: 50vh;
    background-color: rgb(141, 215, 141);
    border-radius: 20px;
    color: rgb(0, 0, 39);
    padding: 1vw;
}